*{
    margin: 0;
    padding: 0;

}
nav{
    display: flex;
    justify-content: space-between;
    background-image: url(banner.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px 0;
   
}
.div-img{
    margin-left: 50px;
}
nav ul{
        display: flex;
        margin-right: 120px;
  } 

nav ul li{
    list-style: none;
    margin-left: 50px;
    font-size: 20px;
    margin-top: 25px;
}
   
nav ul li a{
    text-decoration: none;
    color: black;
}
.home{
   
    color:white;       
}

/* section-1 */

.section-1{
    display: flex;
    margin-left: 200px;
    margin-right:200px;
    margin-top: 100px;
    gap: 20px;

}
.div-text h4{
     font-size: 22px;
     font-weight: bold;
     Color:#ff5705;
}
.div-text h1{
    font-size: 55px;
    font-weight: bold;
    font-family: Poppins, sans-serif;
    padding: 20px 0;
}
.div-text h1 span{
    color:#ff5705 ;
}
.div-text p{
    font-size: 20px;
    font-family: Poppins, sans-serif;
    margin-left: -1px;
    line-height: 1.5em;
    letter-spacing: 1px;
    color: gray;

}
.div-img2{
    padding-top: 40px;
}
.div-text button{
     padding: 15px 40px;
     border-radius: 30px;
     border-style: none;
     background-color: blueviolet;
     margin-top: 40px;
     font-size: 18px;
     color: white;
     font-weight: bold;
     transition:0.5s;
}
.div-text button:hover{
    background-color: #ff5705;
}

/* section-2 */ 

.div-img3{
    width: 1200px;
    margin: auto;
}
.heading-1{
    text-align: center;
    font-size: 45px;
    color: #ff5705;
    padding-top: 100px;
}
.div-img4{
    width:600px;
    gap: 20px;
    
    
}
.div-img4{
    display: flex;   
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 60px;
}

.div-img4 img{
    max-width: 100%;
    border-radius: 10px;


   /* section-3 */


}
#section-container{
    width: 1200px;
    margin: auto;
}
.title-div h1{
     text-align: center;
     font-size: 60px;
     color: #ff5705;
     margin-bottom: 60px;
}

.div-container{
    display: flex;
    gap: 50px;

    
}
.text1-div{
    display: flex;
    margin-right: 20px;
}
.text1-div i{
    font-size: 30px;
    background-color: #ff5705;
    padding: 13px;
    border-radius: 50%;
    margin-right: 10px;
    transition: 0.5s;
}
.text-div i:hover{
    color: #54595f;
}
.text1-div h2{
      margin-top: 10px;
      font-size: 22px;
      font-family: Poppins, sans-serif; 

}
.text-div{
    margin-bottom: 100px;
}

.text-div p{
    font-size: 20px;
    Color:#54595f;
}
p{
    margin-left: 70px;
    padding: 10px 0;
    line-height: 30px;
    
}
p span{
    font-weight: bold;
}
.image5 img{
    margin-top: 100px;
}
